@using EduAll.ViewModel

@model InstructorDetails_vm
<!-- ================================ Instructor Details Section Start ==================================== -->
<section class="instructor-details py-120 position-relative z-1">
    <div class="container">
        <div class="row gy-4">

            <div class="col-lg-4">
                <div class="instructor-details__thumb">
                    <img src="@Model.ImgUrl" alt="@Model.FullName" class="max-h-416 max-w-416 cover-img rounded-circle w-100 object-fit-cover">

                    <ul class="social-list flex-center gap-16 mt-40">
                        @if (!string.IsNullOrEmpty(Model.FacebookUrl))
                        {
                            <li class="social-list__item">
                                <a href="@Model.FacebookUrl" class="text-main-600 text-xl hover-text-white w-40 h-40 rounded-circle border border-main-600 hover-bg-main-600 flex-center"><i class="ph-bold ph-facebook-logo"></i></a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.TwitterUrl))
                        {
                            <li class="social-list__item">
                                <a href="@Model.TwitterUrl" class="text-main-600 text-xl hover-text-white w-40 h-40 rounded-circle border border-main-600 hover-bg-main-600 flex-center"> <i class="ph-bold ph-twitter-logo"></i></a>
                            </li>
                        }
                        @if (!string.IsNullOrEmpty(Model.InstagramUrl))
                        {
                            <li class="social-list__item">
                                <a href="@Model.InstagramUrl" class="text-main-600 text-xl hover-text-white w-40 h-40 rounded-circle border border-main-600 hover-bg-main-600 flex-center"><i class="ph-bold ph-pinterest-logo"></i></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>

            <div class="col-lg-8 ps-xl-5">
                <div class="ps-lg-5">
                    <h5 class="text-main-600 mb-0">Instructor</h5>
                    <h2 class="my-16">@Model.FullName</h2>
                    <span class="text-neutral-700">@Model.JobTitle</span>

                    <div class="d-flex flex-column gap-16 flex-wrap max-w-340 mt-40">
                        <div class="flex-between gap-8">
                            <div class="flex-align gap-8">
                                <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-lightbulb"></i></span>
                                <span class="text-neutral-700 text-lg fw-medium">@Model.JobTitle</span>
                            </div>
                            <div class="flex-align gap-8">
                                <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-watch"></i></span>
                                <span class="text-neutral-700 text-lg fw-medium">@Model.CoursesCount Courses</span>
                            </div>
                        </div>
                        <div class="flex-between gap-8 flex-wrap">
                            <div class="flex-align gap-8">
                                <span class="text-neutral-700 text-2xl d-flex"><i class="ph-bold ph-users"></i></span>
                                <span class="text-neutral-700 text-lg fw-medium">@Model.StudentsCount Students</span>
                            </div>
                            <div class="flex-align gap-4">
                                <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                <span class="text-lg text-neutral-700 fw-semibold">
                                    @Model.Rating
                                    <span class="text-neutral-100 fw-normal">(@Model.ReviewsCount)</span>
                                </span>
                            </div>
                        </div>
                    </div>

                    <span class="d-block border border-neutral-30 my-40 border-dashed"></span>

                    <h4 class="mb-24">Bio Data</h4>
                    <p class="text-neutral-500">
                        @Html.Raw(Model.Bio)
                    </p>

                    <span class="d-block border border-neutral-30 my-40 border-dashed"></span>

                    <h4 class="mb-24">Contact</h4>
                    <div class="d-flex flex-column gap-24">
                        <div class="flex-align gap-12">
                            <span class="text-2xl w-44 h-44 border border border-neutral-30 rounded-4 flex-center text-main-600 bg-main-25">
                                <i class="ph-bold ph-phone-call"></i>
                            </span>
                            <a href="tel:@Model.Phone" class="text-neutral-500 hover-text-main-600">@Model.Phone</a>
                        </div>
                        <div class="flex-align gap-12">
                            <span class="text-2xl w-44 h-44 border border border-neutral-30 rounded-4 flex-center text-success-600 bg-main-25">
                                <i class="ph-bold ph-envelope-simple"></i>
                            </span>
                            <a href="mailto:@Model.Email" class="text-neutral-500 hover-text-main-600">@Model.Email</a>
                        </div>
                        <div class="flex-align gap-12">
                            <span class="text-2xl w-44 h-44 border border border-neutral-30 rounded-4 flex-center text-warning-600 bg-main-25">
                                <i class="ph-bold ph-map-pin-line"></i>
                            </span>
                            <span class="text-neutral-500">@Model.Address</span>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="py-120 bg-main-25">
    <div class="container">
        <div class="section-heading text-center">
            <div class="flex-align d-inline-flex gap-8 mb-16">
                <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book"></i></span>
                <h5 class="text-main-600 mb-0">My Courses</h5>
            </div>
            <h2 class="mb-24">My Popular Courses</h2>
            <p class="">Explore courses created by @Model.FullName</p>
        </div>

        <div class="row gy-4">
            @if (Model.Courses.Any())
            {
                @foreach (var course in Model.Courses)
                {
                    <div class="col-lg-4 col-sm-6 filter-item @course.CategoryFilter wow fadeInUp" data-aos="fade-up" data-aos-duration="200">
                        <div class="course-item bg-white rounded-16 p-12 h-100 box-shadow-md">
                            <div class="course-item__thumb rounded-12 overflow-hidden position-relative course-image-fixed-height">
                                <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id" class="w-100 h-100 d-block">
                                    <img src="@(string.IsNullOrEmpty(course.ImgUrl) ? "/assets/images/thumbs/course-img1.png" : course.ImgUrl)"
                                         alt="@course.Title" class="course-item__img rounded-12 cover-img transition-2 w-100 h-100" />
                                </a>

                                <div class="flex-align gap-8 bg-main-600 rounded-pill px-24 py-12 text-white position-absolute inset-block-start-0 inset-inline-start-0 mt-20 ms-20 z-1">
                                    <span class="text-2xl d-flex">
                                        <i class="ph ph-clock"></i>
                                    </span>
                                    <span class="text-lg fw-medium">@course.DurationHours H</span>
                                </div>

                                <button type="button"
                                        onclick="toggleWishlist(@course.Id, this)"
                                        class="w-48 h-48 flex-center position-absolute inset-block-start-0 inset-inline-end-0 mt-20 me-20 z-1 text-2xl rounded-circle transition-2
                                        @(course.IsWishlisted ? "bg-main-50 text-main-two-600" : "bg-white text-neutral-500 hover-text-main-two-600 hover-bg-main-50")">

                                    <i class="@(course.IsWishlisted ? "ph-fill" : "ph-bold") ph-heart"></i>

                                </button>
                            </div>

                            <div class="course-item__content position-relative">
                                <span class="course-item__user border border-white flex-center w-60 h-60 bg-white text-main-600 rounded-circle text-2xl transition-2">
                                    <img src="@(string.IsNullOrEmpty(course.InstructorImg) ? "/assets/images/thumbs/user-two-img1.png" : course.InstructorImg)"
                                         alt="" class="w-100 h-100 object-fit-cover rounded-circle" />
                                </span>

                                <div class="mb-16 flex-align gap-16 flex-wrap">
                                    <span class="py-4 px-12 rounded-pill text-main-600 fw-medium bg-main-25 text-sm">
                                        @course.CategoryName
                                    </span>
                                    <span class="py-4 px-12 rounded-pill text-main-three-600 fw-medium bg-main-three-25 text-sm">
                                        @(string.IsNullOrEmpty(course.Level) ? "Beginner" : course.Level)
                                    </span>
                                </div>

                                <h4 class="mb-16">
                                    <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id" class="link text-line-2">@course.Title</a>
                                </h4>

                                <div class="flex-align gap-28 flex-wrap mb-16">
                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-lg d-flex"><i class="ph-bold ph-video-camera"></i></span>
                                        <span class="text-neutral-700 text-sm fw-medium">@course.LessonsCount Lessons</span>
                                    </div>

                                    <div class="flex-align gap-8">
                                        <span class="text-neutral-700 text-lg d-flex"><i class="ph-bold ph-users"></i></span>
                                        <span class="text-neutral-700 text-sm fw-medium">@course.StudentsCount Students</span>
                                    </div>
                                    <div class="flex-align gap-4">
                                        <span class="text-2xl fw-medium text-warning-600 d-flex"><i class="ph-fill ph-star"></i></span>
                                        <span class="text-lg text-neutral-700 fw-medium">4.8</span>
                                    </div>
                                </div>

                                <div class="flex-between gap-8 pt-24 border-top border-neutral-50 mt-28 border-dashed border-0">
                                    <h4 class="mb-0 text-main-two-600">$@course.Price</h4>
                                    <a href="cart.html"
                                       class="flex-align gap-8 text-main-600 hover-text-decoration-underline transition-1 fw-semibold"
                                       tabindex="0">
                                        Add To Cart
                                        <i class="ph ph-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-12 text-center py-5">
                    <div class="w-80 h-80 bg-gray-50 rounded-circle flex-center mx-auto text-gray-400 text-4xl mb-16">
                        <i class="ph ph-magnifying-glass"></i>
                    </div>
                    <h5 class="text-neutral-500">No courses found here.</h5>
                </div>
            }
        </div>
    </div>
</section>
<!-- ================================ Course Section End ==================================== -->
<!-- ================================= testimonials Two Section Start ========================================= -->
<section class="testimonials-two py-120 position-relative z-1">
    <div class="container">

        <div class="section-heading text-center">
            <div class="flex-align d-inline-flex gap-8 mb-16 wow bounceInDown">
                <span class="text-main-600 text-2xl d-flex"><i class="ph-bold ph-book"></i></span>
                <h5 class="text-main-600 mb-0">Testimonials from Happy Learners</h5>
            </div>
            <h2 class="mb-24 wow bounceIn">What Our Students Say</h2>
            <p class=" wow bounceInUp">Our students' success stories speak volumes. Here are just a few testimonials from our satisfied learners</p>
        </div>

        <div class="testimonials-two-slider">
            <div class="testimonials-two-item bg-main-25 rounded-12 p-32" data-aos="fade-up" data-aos-duration="400">
                <ul class="flex-align gap-8 mb-16">
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star-half"></i></li>
                </ul>
                <p class="text-neutral-700 text-xl">"I've taken several courses through, and each one has exceeded my expectations. I've gained valuable skills that have helped me advance in my career. Highly recommend!"</p>
                <div class="flex-between gap-24 flex-wrap pt-28 mt-28 border-top border-neutral-50 mt-28 border-dashed border-0">
                    <div class="flex-align gap-24 ">
                        <img src="/assets/images/thumbs/testi-img1.png" alt="" class="w-60 h-60 object-fit-cover rounded-circle">
                        <div class="">
                            <h5 class="mb-8 fw-medium">John D.</h5>
                            <span class="text-neutral-700">Graphic Designer</span>
                        </div>
                    </div>
                    <span class="quate text-48 d-flex opacity-25">
                        <img src="/assets/images/icons/quote-icon.png" alt="">
                    </span>
                </div>
            </div>
            <div class="testimonials-two-item bg-main-25 rounded-12 p-32" data-aos="fade-up" data-aos-duration="600">
                <ul class="flex-align gap-8 mb-16">
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star-half"></i></li>
                </ul>
                <p class="text-neutral-700 text-xl">"I was initially skeptical about online learning, but changed my perspective completely. The courses are well-designed, and the flexibility to learn at my own pace is invaluable."</p>
                <div class="flex-between gap-24 flex-wrap pt-28 mt-28 border-top border-neutral-50 mt-28 border-dashed border-0">
                    <div class="flex-align gap-24 ">
                        <img src="/assets/images/thumbs/testi-img2.png" alt="" class="w-60 h-60 object-fit-cover rounded-circle">
                        <div class="">
                            <h5 class="mb-8 fw-medium">Sarah L.</h5>
                            <span class="text-neutral-700">UI/UX Designer</span>
                        </div>
                    </div>
                    <span class="quate text-48 d-flex opacity-25">
                        <img src="/assets/images/icons/quote-icon.png" alt="">
                    </span>
                </div>
            </div>
            <div class="testimonials-two-item bg-main-25 rounded-12 p-32" data-aos="fade-up" data-aos-duration="600">
                <ul class="flex-align gap-8 mb-16">
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star"></i></li>
                    <li class="text-warning-600 text-xl d-flex"><i class="ph-fill ph-star-half"></i></li>
                </ul>
                <p class="text-neutral-700 text-xl">"I was at first doubtful about web based learning, yet adjusted my viewpoint totally. The courses are very much planned to learn at my own speed is important."</p>
                <div class="flex-between gap-24 flex-wrap pt-28 mt-28 border-top border-neutral-50 mt-28 border-dashed border-0">
                    <div class="flex-align gap-24 ">
                        <img src="/assets/images/thumbs/user-two-img3.png" alt="" class="w-60 h-60 object-fit-cover rounded-circle">
                        <div class="">
                            <h5 class="mb-8 fw-medium">John Doe</h5>
                            <span class="text-neutral-700">Front End Developer</span>
                        </div>
                    </div>
                    <span class="quate text-48 d-flex opacity-25">
                        <img src="/assets/images/icons/quote-icon.png" alt="">
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-center gap-16 mt-40">
            <button type="button" id="testimonials-two-prev" class="slick-prev slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48">
                <i class="ph ph-caret-left"></i>
            </button>
            <button type="button" id="testimonials-two-next" class="slick-next slick-arrow flex-center rounded-circle border border-gray-100 hover-border-main-600 text-xl hover-bg-main-600 hover-text-white transition-1 w-48 h-48">
                <i class="ph ph-caret-right"></i>
            </button>
        </div>
    </div>
</section>
<!-- ================================= testimonials Two Section End ========================================= -->
<!-- ================================= Certificate Section Start ================================= -->
<div class="certificate">
    <div class="container container--lg">
        <div class="certificate-box px-16 bg-main-600 rounded-16">
            <div class="container">
                <div class="position-relative py-80">
                    <div class="row align-items-center">
                        <div class="col-xl-6">
                            <div class="certificate__content">
                                <div class="flex-align gap-8 mb-16 wow bounceInDown">
                                    <span class="w-8 h-8 bg-white rounded-circle"></span>
                                    <h5 class="text-white mb-0">Get Certificate</h5>
                                </div>
                                <h2 class="text-white mb-40 fw-medium wow bounceIn">Get Quality Skills Certificate From the EduAll</h2>
                                <a href="" class="btn btn-white rounded-pill flex-align d-inline-flex gap-8 hover-bg-main-800 wow bounceInUp">
                                    Get Started Now
                                    <i class="ph-bold ph-arrow-up-right d-flex text-lg"></i>
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 d-xl-block d-none">
                            <div class="certificate__thumb" data-aos="fade-up-left">
                                <img src="/assets/images/thumbs/certificate-img.png" alt="" data-tilt data-tilt-max="8" data-tilt-speed="500" data-tilt-perspective="5000" data-tilt-full-page-listening>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ================================= Certificate Section End ================================= -->
@section Scripts {
    <script>

        function toggleWishlist(courseId, btnElement) {
            $.ajax({
                url: '/Wishlist/Toggle',
                type: 'POST',
                data: { courseId: courseId },
                success: function (response) {
                    if (response.success) {
                        var icon = $(btnElement).find('i');

                        // 1. الإمساك بعنصر العداد (اللي في الهيدر)
                        var countBadge = $("#wishlist-count");
                        var currentCount = parseInt(countBadge.text()); // قراءة الرقم الحالي

                        if (response.isAdded) {
                            // === حالة الإضافة ===
                            $(btnElement).addClass('bg-main-50 text-main-two-600').removeClass('bg-white text-neutral-500');
                            icon.removeClass('ph ph-bold').addClass('ph-fill');

                            // زيادة العداد
                            countBadge.text(currentCount + 1);

                            // (اختياري) تأثير انيميشن بسيط للعداد
                            countBadge.addClass("animate__bounceIn").one("animationend", function () {
                                $(this).removeClass("animate__bounceIn");
                            });

                        } else {
                            // === حالة الحذف ===
                            $(btnElement).removeClass('bg-main-50 text-main-two-600').addClass('bg-white text-neutral-500');
                            icon.removeClass('ph-fill').addClass('ph-bold');

                            // تنقيص العداد
                            if (currentCount > 0) countBadge.text(currentCount - 1);
                        }
                    } else {
                        window.location.href = '/Admin/Account/SignIn';
                    }
                },
                error: function () {
                    // handle error
                }
            });
        }
    </script>
}
